root { 
    display: block;  
    
}
div.form input,
div.form textarea,
div.form select
{
	margin:0;
}
div.form input:focus{
    border: 1px solid #ccc; 
}
div.success input:focus{
    border: 1px solid #ccc; 
}
div.success textarea:focus{
    border: 1px solid #ccc; 
}
div.form fieldset
{
        border: 1px solid #ccc;
	padding: 10px;
	margin: 0 0 10px 0;
        -moz-border-radius:7px;
}
div.form label
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}


div.form .row
{
	margin: 5px 0;
}

div.form .box
{
    float: left;
    width:165px;
    padding:5px;
    border:10px #039;
    margin:20px;
}
div.form div.error input {
    background: rgb(255,180,180);
    border-color: #f66a6a;
    border-radius: 3px;
    border-width: 1px;      
}
#page {
    margin-top: 0px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid rgb(77, 131, 162);
    border-top-right-radius: 35px;
    -moz-box-shadow: 0px 0px 8px #888;
    -webkit-box-shadow: 0px 0px 15px #888;
    box-shadow: 0px 0px 15px #888;
}
#mainmenu {
    background: #0064CD;
    border-top: 1px solid #03C;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: rgb(9, 9, 180);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
} 
#header {
    margin: 0;
    padding: 0;
    border-top: none;
}
.fancybutton{
    -webkit-box-align: center;
    text-align: center;
    border: 1px outset buttonface;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    background: #0055cc;
    color: #FFF;
    font-weight: bolder;
    font-size: 0.9em;
    display: block;
}
.fancybutton:hover{
    background: #002252;
}
.formbox{
    float:left;
    margin: 3px;
    padding: 2px;
}
.formsplitter{
    float: left;
    height: 190px;
    margin:20px;
    border-left: 1px solid #888; 
    clear:left;
}
.horisontalsplitter{
    border-top:1px solid #888;
    margin: 10px auto;
    width: 95%;
    clear:left;
}
.add:hover{
    background:#339900;}
.add{
    background: #23B110; 
    padding:2px 4px; 
    width:20px; 
    display:inline-block;
}
.remove:hover{
    background: #8d0303;
}
.remove{
    background: #CC0008; 
    padding:2px 4px; 
    width:20px; 
    display:inline-block;
}
#ui-datepicker-div
{
    z-index: 1102 !important;
    background: white;
    border:thin solid black;
    border-radius: 3px;
}
.ui-datepicker-next{
    color:#039;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 45px;
}
.ui-datepicker-prev{
    color:#039;
    font-weight: bolder;
    text-decoration: none;
}

.usercontainer{ 
    width: 350px;
    height: 320px;
    float:left;
}
.addressHolder{
    width: 200px;
    padding: 10px;
    float: left;
   
}    
.total th{
 border-collapse: collapse;
 border-top: thin solid #88c;
}
.mid{
  width: auto;
}
.spacer{
    height: 280px;
    margin: 20px 30px;
    border-left: thin #ccc solid;
    float:left;
}
.topcontianer{
    height: 322px;
}
.formdate{
    float:left; 
    margin: 0 0 0 13px;
}
.bottomcontainer{}

.datescontainer{
    margin: 0 10px 5px 0;
    width: 320px; height: 37px;
}


#fancybox-overlay { position: fixed !important; }