root { 
    display: block;  
    
}
body{background: black;}
div.form input,
div.form textarea,
div.form select
{
	margin:0;
}

div.form fieldset
{
        border: 1px solid #ccc;
	padding: 10px;
	margin: 0 0 10px 0;
        -moz-border-radius:7px;
}

div.form label
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}


div.form .row
{
	margin: 5px 0;
}

div.form .box
{
    float: left;
    width:165px;
    padding:5px;
    border:10px #039;
    margin:20px;
}
div.form div.error input {
    background: #f66a6a;
    border-color: #910000;       
}