root { 
    display: block;  
    
}

div.form input,
div.form textarea,
div.form select
{
	margin:0;
}
div.form fieldset
{
        border: 1px solid #ccc;
	padding: 10px;
	margin: 0 0 10px 0;
        -moz-border-radius:7px;
}
div.form label
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}


div.form .row
{
	margin: 5px 0;
}

div.form .box
{
    float: left;
    width:165px;
    padding:5px;
    border:10px #039;
    margin:20px;
}
div.form div.error input {
   background: rgb(255,180,180);
border-color: #f66a6a;
border-radius: 3px;
border-width: 1px;      
}
#page {
margin-top: 0px;
margin-bottom: 5px;
background: white;
border: 1px solid rgb(77, 131, 162);
 border-top-right-radius: 35px;
 -moz-box-shadow: 0px 0px 8px #888;
    -webkit-box-shadow: 0px 0px 15px #888;
    box-shadow: 0px 0px 15px #888;
}
#mainmenu {
background: #0064CD;
border-top: 1px solid #03C;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a {
color: rgb(9, 9, 180);
background-color: rgb(255, 255, 255);
text-decoration: none;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
} 
#header {
margin: 0;
padding: 0;
border-top: none;
}
.fancybutton{
    -webkit-box-align: center;
    text-align: center;
    cursor: default;
    border: 1px outset buttonface;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    background: #0055cc;
    color: #FFF;
    font-weight: bolder;
    font-size: 0.9em;
    display: block;
}
.formbox{
    float:left;
}
.formsplitter{
    float: left;
    height: 190px;
    margin:20px;
    border-left: 1px solid #888;
    
}