<html>
<body>
<table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
               <tbody><tr>
                       <td class="w580" width="580" style="margin:0px;padding: 10px ;border-right: 2px solid #556c90;border-left: 2px solid #556c90;border-top: 2px solid #556c90; border-radius:6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; -webkit-border-radius:6px 6px 0px 0px; -webkit-font-smoothing: antialiased; background-color: #556c90;">
                       <div style="color: white ; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size: 36px; text-align: center; margin-top:10px; margin-bottom:10px;">EHFportal</div>
                    </td>
               </tr>
               <tr><td class="w580" width="580" height="0"></td></tr>
           </tbody></table>

<table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
               <tbody><tr>
                       <td class="w580" width="580" style="margin:0px;padding: 10px ;border-right: 2px solid #556c90;border-left:2px solid #556c90;border-bottom: 2px solid #556c90;border-radius:0px 0px 6px 6px; -moz-border-radius:0px 0px 6px 6px; -webkit-border-radius:0px 0px 6px 6px; -webkit-font-smoothing: antialiased; background-color: #ffffff;">
                        <div style="font-size: 14px; line-height:24px; color: black; margin-top:0px; margin-bottom:18px; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">congratulations with sending your first invoice, we have gone ahead and created an account for you so you can send invoices in the future. <br>your account details are <br> username: %username%<br> password: %password%</div>
                    </td>
               </tr>
               <tr><td class="w580" width="580" height="10"></td></tr>
           </tbody></table>    
    
</body>
</html>